extends layout.pug

block heading
    | glorified spreadsheet

block content
    div.accounts-list
        each a, idx in accounts
            a(href='/accounts/' + a.id)= a.name
            if idx !== accounts.length - 1
                |  | 
    div.tags-list
        each t, idx in tags
            a(href='/tags/' + t.id)= t.name
            if idx !== tags.length - 1
                |  | 
    a(href='/accounts/new') new account
    a(href='/tags/new') new tag
    form(method='get')
        br
        input(type='submit', value='filter by date range')
        |  start (inclusive): 
        input(type='date', name='startDate', value=dateRange.start)
        |  end (exclusive): 
        input(type='date', name='endDate', value=dateRange.end)
    table
        tr
            th net worth
            td(colspan=4)= currency(total)
        if rangeTotal != null
            tr
                th total in range
                td(colspan=4)= currency(rangeTotal)
        tr
            th description
            th amount
            th timestamp
            th tags
            th account
        if transactions.length === 0
            tr
                td(colspan=5)
                    center no transactions in range.
        else
            each t in transactions
                tr
                    td
                        a(href='/transactions/' + t.id)= t.description
                    td= currency(t.amount)
                    td= datetime(t.timestamp)
                    td= t.tags
                    td= t.account_name
