extends layout.pug

block heading
    | transaction #{transaction.id}

block prepend breadcrumbs
    -
        links.push(...[
            ['account ' + accounts.find(a => a.id === transaction.account_id).name, '/accounts/' + transaction.account_id],
            ['transaction ' + transaction.id, '/transactions/' + transaction.id]
        ])

block content
    form(method='post', action=transaction.id + '/delete', id='delete')
        input(type='submit', value='delete transaction')
    form(method='post')
        | $
        input(type='number', name='amount', placeholder='amount', step='0.01', required value=currency(Math.abs(transaction.amount)))
        br
        input(type='radio', name='type', value='expense', id='type_expense', required, checked=(Math.sign(transaction.amount) < 0))
        label(for='type_expense') expense 💸
        input(type='radio', name='type', value='income', id='type_income', required, checked=(Math.sign(transaction.amount) >= 0))
        label(for='type_income') income 💰
        br
        input(type='text', name='description', placeholder='description', required, value=transaction.description)
        br
        label(for='account_id') account
        select(name='account_id' required)
            each a in accounts
                option(value=a.id, selected=a.selected)= a.name
        br
        label(for='tags') tags
        select(name='tags', multiple)
            each t in tags
                option(value=t.id, selected=t.selected)= t.name
        br
        label(for='timestamp') timestamp
        input(type='datetime-local', name='timestamp', required, value=formtime(transaction.timestamp))
        br
        textarea(name='notes', cols=30, rows=10, placeholder='notes (optional)')= transaction.notes
        br
        input(type='submit', value='update transaction')
